@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
*{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 18px;
    color: rgb(5, 142, 160);
}

#barley-canvas {
    border: 5px solid #353535;
    border-radius: 7px;
    background: url("../assets/barley-cell.jpg") repeat;
}

#hangman-canvas {
    border: 5px solid #353535;
    border-radius: 7px;
}

#memory {
    width: 320px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    position: relative;
}

#memory img{
    width: 100%;
    height: auto;
    display: block;
}

.header{
    display: flex;
    justify-content: space-around;
}

.header *{
    font-size: 20px;
    font-weight: bold;
}

.wrapper{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

ul{
    display: flex;
    justify-content: space-between;
}

#root{
    text-align: center;
}

canvas{
    display: inline;
}

#letter{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(252, 235, 90);
    text-align: center;
}

.hangman-interact{
    width: 75%;
    height: 320px;
    border: 5px solid #353535;
    border-radius: 7px;
    background: rgb(255, 230, 0);
    box-shadow: inset 0 0 45px rgb(160, 160, 1);
}

.hangman-main{
    display: flex;
    justify-content: space-around;
}

.swal-overlay{
    background-color: rgba(255, 226, 5, 0.3);
}

.swal-modal.welcome{
    background-color: rgb(255, 229, 32);
}

.clicks{
    list-style-type: none;
}

.swal-button{
    background: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1.5px;
}

.swal-title{
    color: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
}

.new-game{
    text-decoration: underline;
    cursor: pointer;
}

.card{
    height: calc(33.333% - 10px);
    margin: 3px;
    border: 1px solid lightgray;
    border-radius: 7%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: calc(25% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
  }
.flip {
    transform: rotateY(180deg);
  }