@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
*{
    margin: 0;
    padding: 0;
}

.button{
    background-color: rgb(255, 230, 0);
    box-shadow: 0 0 5px rgb(3, 106, 119);
    font-size: 14px;
    line-height: 2.2;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    padding: 0 7px;
}

.button:hover{
    background-color: rgb(255, 237, 79);
    box-shadow: 0 0 10px 1px rgb(3, 106, 119);
}

canvas{
    display: inline;
}

html {
    height: 100%;
}

body{
    font-family: 'Gloria Hallelujah', 'Pangolin', cursive;
    font-size: 18px;
    color: rgb(5, 142, 160);
    height: 100%;
}

@media (min-height: 330px) and (min-width: 670px) {
    body{
        background: url('../assets/bg/left1.png') left 10% no-repeat,
        url('../assets/bg/one.png') 95% 80% no-repeat,
        url('../assets/bg/top2.png') right top no-repeat;
        background-size: 100px, 100px, 70px;
    }
}

@media (min-height: 460px) and (min-width: 870px) {
    body{
        background: url('../assets/bg/left1.png') left 10% no-repeat,
        url('../assets/bg/one.png') 90% 80% no-repeat,
        url('../assets/bg/top2.png') 95% top no-repeat,
        url('../assets/bg/bg_hq.png') 30% bottom no-repeat;
        background-size: 100px, 140px, 100px, 250px;
    }
}

@media (min-height: 600px) and (min-width: 1100px) {
    body{
        background-size: 170px, 200px, 200px, 370px;
    }
}

.wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    box-sizing: border-box;
}

#barley-canvas {
    border: 3px solid rgb(3, 106, 119);
    box-shadow: 0 0 10px rgb(3, 106, 119);
    border-radius: 7px;
    background: url("../assets/barley-cell.jpg") repeat;
}

#hangman-canvas {
    border: 3px solid rgb(3, 106, 119);
    box-shadow: 0 0 10px rgb(3, 106, 119);
    border-radius: 7px;
    background: url('../assets/hangman/hangman_0.jpg') no-repeat;
    background-size: cover;
}

#memory {
    border: 3px solid rgb(3, 106, 119);
    box-shadow: 0 0 10px rgb(3, 106, 119);
    border-radius: 7px;
    width: 232px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#memory img{
    width: 100%;
    height: auto;
    display: block;
}

#qrcode{
    position: absolute;
    bottom: 0;
    right: 0;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons{
    display: flex;
}

.header-name{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.header-name-span{
    color: rgb(247, 210, 0);
}

.main-menu{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.main-menu a{
    color: rgb(5, 142, 160);
}

.main-menu a:visited{
    color: rgb(5, 142, 160);
}

.app-menu{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.app-menu a{
    color: rgb(5, 142, 160);
}

.app-menu a:visited{
    color: rgb(5, 142, 160);
}

.clicks{
    margin: 10px 0;
}

#root{
    text-align: center;
    padding-top: 20px;
}

.hangman-main{
    display: flex;
    justify-content: space-around;
}

.hangman-interact{
    width: 75%;
    height: 320px;
    border: 3px solid rgb(3, 106, 119);
    border-radius: 7px;
    background: rgb(255, 230, 0);
    box-shadow: inset 0 0 45px rgb(160, 160, 1);
}

.hangman-interact *{
    margin-top: 20px;
}

.hangman-input{
    display: block;
    margin: 20px auto;
    font: inherit;
    text-align: center;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgb(3, 106, 119);
    background: rgb(252, 235, 90);
    text-align: center;
    width: 160px;
}

.hangman-mask{
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    color: rgb(9, 202, 228);
}

.swal-overlay{
    background-color: rgba(255, 226, 5, 0.3);
}

.swal-modal.welcome{
    background-color: rgb(255, 229, 32);
}

.swal-button{
    background: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1.5px;
}

.swal-title{
    color: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
}

.new-game, .rules{
    text-decoration: underline;
    cursor: pointer;
}

.card{
    display: inline-block;
    margin: 4px;
    border: 1px solid lightgray;
    border-radius: 7%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: calc(25% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
  }

.flip {
    transform: rotateY(180deg);
  }

.game-link{
    box-shadow: 0 0 5px #fff;
    transition: 0.3s ease-in-out;
}

.game-link:hover{
    transform: scale(1.1);
}

.game-link img{
    display: block;
}

  
@media screen and (max-width: 450px){
    .header{
        flex-direction: column;
        align-items: center;
    }

    .main-menu{
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }

    .main-menu a{
        margin-top: 20px;
    }

    .main-menu a:last-child{
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 359px){
    #memory{
        width: 320px;
        height: 440px;
    }

    .game-link img{
        width: 150px;
        height: 150px;
    }
}
  
.preloader {
    margin: 120px auto 0;
}

.preloader div {
    color: rgb(5, 142, 160);
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.preloader .line {
    width: 3px;
    height: 30px;
    border-radius: 3px;
    background: rgb(5, 142, 160);
    margin: 0 1px;
    display: inline-block;
    animation: opacity 1000ms infinite ease-in-out;
}

.preloader .container{
    height: 30px;
    padding-bottom: 50px;
}

.preloader .line-1 { animation-delay: 800ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 400ms; }
.preloader .line-4 { animation-delay: 200ms; }
.preloader .line-6 { animation-delay: 200ms; }
.preloader .line-7 { animation-delay: 400ms; }
.preloader .line-8 { animation-delay: 600ms; }
.preloader .line-9 { animation-delay: 800ms; }

@keyframes opacity { 
    0% { 
        opacity: 1;
        height: 30px;
    }
    50% { 
        opacity: 0;
        height: 20px;
    }
    100% { 
        opacity: 1;
        height: 30px;
    }  
}