@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Pangolin');
*{
    font-family: 'Gloria Hallelujah', 'Pangolin', cursive;
    font-size: 18px;
    color: rgb(5, 142, 160);
}

html {
    height: 100%;
}

body{
    /* background: url('../assets/bg/from_above.jpg') 7% top no-repeat,
    url('../assets/bg/side_right2.jpg') right 50% no-repeat;
    background-size: 150px, 150px; */
}

/* @media screen and (max-width: 800px) and (max-height: 400px){
    body{
        background-color: black;
    }
} */

#barley-canvas {
    border: 3px solid #222;
    box-shadow: 0 0 10px #222;
    border-radius: 7px;
    background: url("../assets/barley-cell.jpg") repeat;
}

#hangman-canvas {
    border: 3px solid rgb(3, 106, 119);
    box-shadow: 0 0 10px rgb(3, 106, 119);
    border-radius: 7px;
    background: url('../assets/hangman/hangman_0.jpg') no-repeat;
    background-size: cover;
}

.button{
    background-color: rgb(255, 230, 0);
    border: 2px solid rgb(3, 106, 119);
    box-shadow: 0 0 2px rgb(3, 106, 119);
    font-size: 4px;
    line-height: 1.5;
    padding: 3px 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: 10px;
}

#memory {
    border: 3px solid rgb(3, 106, 119);
    box-shadow: 0 0 10px rgb(3, 106, 119);
    border-radius: 7px;
    width: 232px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#memory img{
    width: 100%;
    height: auto;
    display: block;
}

.header{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-buttons{
    display: flex;
}

.header-name{
    text-transform: uppercase;
    vertical-align: baseline;
}

.header *{
    font-size: 20px;
    font-weight: bold;
    /* line-height: 1.7; */
}

.wrapper{
    /* position: relative; */
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.main-menu{
    display: flex;
    justify-content: space-between;
}

.app-menu{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}

#root{
    text-align: center;
}

canvas{
    display: inline;
}

#letter{
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    background: rgb(252, 235, 90);
    text-align: center;
    width: 180px;
}

.hangman-interact{
    width: 75%;
    height: 320px;
    border: 3px solid rgb(3, 106, 119);
    border-radius: 7px;
    background: rgb(255, 230, 0);
    box-shadow: inset 0 0 45px rgb(160, 160, 1);
}

.hangman-main{
    display: flex;
    justify-content: space-around;
}

.swal-overlay{
    background-color: rgba(255, 226, 5, 0.3);
}

.swal-modal.welcome{
    background-color: rgb(255, 229, 32);
}

.clicks{
    list-style-type: none;
}

.swal-button{
    background: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
    letter-spacing: 1.5px;
}

.swal-title{
    color: rgba(112, 165, 200);
    font-family: 'Gloria Hallelujah', cursive;
}

.new-game, .rules{
    text-decoration: underline;
    cursor: pointer;
}

.card{
    display: inline-block;
    margin: 4px;
    border: 1px solid lightgray;
    border-radius: 7%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    width: calc(25% - 10px);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.back {
    transform: rotateY(180deg);
  }
.flip {
    transform: rotateY(180deg);
  }

.game-link{
    box-shadow: 0 0 5px #fff;
    transition: 0.3s ease-in-out;
}

.game-link:hover{
    transform: scale(1.1);
}

.game-link img{
    display: block;
}

  
@media screen and (max-width: 450px){
    .main-menu{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 359px){
    #memory{
        width: 320px;
        height: 440px;
    }

    .game-link img{
        width: 150px;
        height: 150px;
    }
}
  
.preloader {
    margin: 120px auto 0;
}

.preloader div {
    color: rgb(5, 142, 160);
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.preloader .line {
    width: 3px;
    height: 30px;
    border-radius: 3px;
    background: rgb(5, 142, 160);
    margin: 0 1px;
    display: inline-block;
    animation: opacity 1000ms infinite ease-in-out;
}

.preloader .container{
    height: 30px;
    vertical-align: bottom;
}

.preloader .line-1 { animation-delay: 800ms; }
.preloader .line-2 { animation-delay: 600ms; }
.preloader .line-3 { animation-delay: 400ms; }
.preloader .line-4 { animation-delay: 200ms; }
.preloader .line-6 { animation-delay: 200ms; }
.preloader .line-7 { animation-delay: 400ms; }
.preloader .line-8 { animation-delay: 600ms; }
.preloader .line-9 { animation-delay: 800ms; }

@keyframes opacity { 
    0% { 
        opacity: 1;
        height: 30px;
    }
    50% { 
        opacity: 0;
        height: 20px;
    }
    100% { 
        opacity: 1;
        height: 30px;
    }  
}